<% include ./partials/header %>

<div class="reviews">
	<h1>Program Reviews for <b><%= program.programName %></b></h1>
	<h4> at <%= school.schoolName %></h4>
	<br />
	<h1 style="color:#e29b00;font-size:3em;">
		<% for(var i = 0; i < program.overallRating; i++){ %>
			<i class="fas fa-star"></i> 
		<% } %>
	</h1>
	<div class="review-container" id="revScroll">
	  <div class="row text-center">
		  <% reviews.forEach(function(el, index) { %>
			  <div class="jumbotron jumbotron-fluid">
				  <span class="lead"><%= el.reviewBody %></span>
				  <br />
				  <b>Rating: </b><%= el.rating %>
				  <br />
				  <a href="/flag/review/<%= el.reviewId %>"><i class="fa fa-flag"></i></a>
			  </div>
		  <% }); %>
	  </div>
	</div>
	<br/>
	<br/>
	<form action="/reviews/<%= program.programId %>" method="POST" autocomplete="off">
		<textarea rows="6" class="form-control" name="newReview" placeholder="Write your new program review here."></textarea>
		<br />
		<input class="form-control" style="width:40%;margin:auto;"type="text" name="rating" value="" placeholder="rating (1-5)">
		<br />
		<div>
		<input class="btn btn-primary btn-lg" type="submit" value="Submit" />
		</div>
	</form>
	<br />
	<br />
	<br />
	<h2>Program Info</h2>
	<div class="container programInfo">
		<div class="row">
			<div class="col-lg-4">Program Name:</div>
			<div class="col-lg-8"><%= program.programName %></div>
		</div>
		<div class="row">
			<div class="col-lg-4">Program Code:</div>
			<div class="col-lg-8"><%= program.programCode %></div>
		</div>
		<div class="row">
			<div class="col-lg-4">Program Length:</div>
			<div class="col-lg-8"><%= program.programLength %></div>
		</div>
		<div class="row">
			<div class="col-lg-4">School Name:</div>
			<div class="col-lg-8"><%= school.schoolName %></div>
		</div>
		<div class="row">
			<div class="col-lg-4">Location:</div>
			<div class="col-lg-8"><%= school.schoolCity %>, <%= school.schoolRegion %>, <%= school.schoolCountry %></div>
		</div>
		<div class="row">
			<div class="col-lg-4">Tuition (Domestic):</div>
			<div class="col-lg-8"><%= program.tuitionDomestic %></div>
		</div>
		<div class="row">
			<div class="col-lg-4">Tuition (International):</div>
			<div class="col-lg-8"><%= program.tuitionInternational %></div>
		</div>
		<div class="row">
			<div class="col-lg-4">Co-Op Program:</div>
			<div class="col-lg-8">
				<% if(program.isCoOp == 0){ %>
					<%= "No" %>
				<% }else{ %>
					<%= "Yes" %>
				<% } %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">Overall Rating:</div>
			<div class="col-lg-8">
				<% for(var i = 0; i < program.overallRating; i++){ %>
					<i class="fas fa-star"></i> 
				<% } %>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4">Degree Type:</div>
			<div class="col-lg-8"><%= program.degreeType %></div>
		</div>
	</div>
</div>

<% include ./partials/footer %>
